<% include header %>
      <div class="container">
        <div class="page-header">
          <h1><%= title %></h1>
        </div>
        <p>This is a simple web application for comparing movies. Put in the name of two movies, and this will show what the two movies had in common. The application has a few limitations though, namely, it requires exact movie titles and the lists of actors are relatively short.</p>
      </div>
    </div>
<% include footer %>
