<% include header %>
      <div class="container">
        <div class="page-header">
          <h1><%= title %></h1>
        </div>
        <p>Simple web application for comparing movies.</p>
      </div>
    </div>
<% include footer %>
