       <form id="movie-compare" action="/compare/" method="post"> 
         <div>
           <h2>Compare two movies</h2>
           <input id="first" name="first" type="text" class="form-control left half" placeholder="First movie" required="" autofocus="">
           <input id="second" name="second" type="text" class="form-control right half" placeholder="Second movie" required="">
           <input id="type" name="type" type="hidden" value="movie">
           <button type="submit" class="btn btn-primary btn-block form-control center">Search</button>
         </div>
        </form>
