    <div id="footer">
      <div class="container">
        <p class="text-muted left">&copy; Ben Levy</p>
        <p class="text-muted right">Powered by <a href="http://www.omdbapi.com/" target="_blank">The OMDb API</a></p>
      </div>
    </div>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/Media.js"></script>
    <script src="/javascripts/Writer.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
