<% include header %>
      <div class="container">
        <div class="page-header">
          <h1><%= title %></h1>
        </div>
        <p>Welcome to <%= title %></p>
        <p><a href="/movie">movies</a></p>
      </div>
    </div>
<% include footer %>
