/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
}

h1, h2, h3 {
  margin-top: 10px;
}

@media (max-width: 960px) {
  h2 {
    font-size: 20px;
  }
}

a {
  color: #00B7FF;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.page-header {
  margin: 10px 0 10px;
}
#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.form-control {
  margin-bottom: 10px;
}

.form-control.half {
  width: 49%;
}

@media (min-width: 960px) {
  .btn.center {
    width: 20%;
  }
}

.btn .caret {
  margin-left: 10px;
}

.compare-results.btn-group {
  width: 45%;
}

.btn-default.btn-success {
  text-shadow: 0 1px 0 #000;
}

.results-row {
  width: 100%;
}

.results-row.top {
  padding-top: 15px;
}

.results-rating {
  margin-top: 15px;
  width: 45%;
}

.results-rating-label {
  float: left;
  text-align: center;
  width: 10%;
  padding-top: 13px;
}

.results-row .first, .results-row .second {
  width: 45%;
}

.results-row .name {
  width: 10%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

.no-show {
  visibility: hidden !important;
}

.footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
